 .relax {
     width: 50%;
     float: left;
 }

 .select, .select select {
     width: 100%;
 }

 .paisesComunas {
     float: right;
     margin-top: 10%;
     margin-right: 20%;
 }

 .paises, .comunas {
     width: 100%;
 }

 .verMas, .busqueda {
     margin-left: auto;
     margin-right: auto;
     text-align: center
 }

 .busqueda {
     width: 100%;
 }

 .botonVerMas {
     width: 50%;
 }

 /* fonos */

 @media only screen and (max-width: 360px) {
     .section, .container {
         margin-top: 2px!important;
         padding-top: 2px!important;
     }
     .relax, .paisesComunas, select, .users {
         margin-left: auto;
         margin-right: auto;
         text-align: center;
     }
     .paisesComunas, select {
         width: 100%;
     }
     .relax {
         width: 60%;
         margin-left: 25%;
     }
     .homeCard, .sesion {
         margin-top: 1%;
     }
     .logo {
         margin-top: 5%;
         margin-left: auto;
         margin-right: auto;
         width: 100%;
         text-align: center
     }
 }

 /* tablets */

 @media only screen and (min-width: 361px) and (max-width: 865px) {
     .relax, .paisesComunas, select {
         margin-left: 0 auto;
         margin-right: 0 auto;
     }
     .relax {
         width: 60%;
         margin-left: 25%;
     }
     .paisesComunas {
         width: 50%;
     }
     .homeCard, .sesion {
         margin-top: 20px;
     }
 }